@page "/Emergencias"
@page "/Emergencias/{Tiempo:int}"
@layout EmptyLayout

@inject PacienteBLL Pacientes
@inject EmergenciaBLL Emergencias

<body onload="window.print()">
<H1>Dr Emergencias</H1>
<h4>Orden de compra</h4>
<hr>


 <RadzenFieldset>
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon  class="me-1" /><b>Detalle</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <table class="table table-striped" style="backgroud-color:white">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Motivo Consulta</th>
                        <th scope="col">Diagnostico</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach(var item in lista)
                        {
                            <tr>
                            <td>@item.Fecha</td>
                            <td>@Pacientes.Buscar(item.PacienteID).PrimerNombre @Pacientes.Buscar(item.PacienteID).SegundoNombre @Pacientes.Buscar(item.PacienteID).PrimerApellido @Pacientes.Buscar(item.PacienteID).SegundoApellido</td>
                            <td>@item.M_Consulta </td>
                            <td>@item.Diagnostico</td>
                            </tr>
                        }
                
                </tbody>
            </table>

        </ChildContent>
    </RadzenFieldset>



</body>
@code {
    [Parameter]
    public int Tiempo{get;set;}

    public IEnumerable<Emergencia> lista {get;set;}
    

    protected override void OnInitialized()
    {
        var plazo = DateTime.Now.Date;
        if(Tiempo<=0)
        {
            plazo=DateTime.Now;
        }
        else if(Tiempo==1)
        {
            plazo=plazo.AddDays(-8);
        }
        else if(Tiempo==2)
        {
            plazo=plazo.AddDays(-16);
        }
        else if(Tiempo==3)
        {
            plazo=plazo.AddDays(-31);
        }
        else if(Tiempo==4)
        {
            plazo=plazo.AddDays(-365);
        }
        else if(Tiempo>=5)
        {
            plazo=plazo.AddDays(-999);
        }
        else
        {

        }

        Console.WriteLine(plazo);
        lista =  Emergencias.GetList().Where(o=>o.Fecha >= plazo);
    }


    }


