
@page "/I_OrdenCompra/{CompraId:int}"
@layout EmptyLayout

@inject ArticuloBLL articulos
@inject EntradaBLL Entradas
@inject SalidaBLL Salidas
@inject SuplidorBLL suplidores
@inject OrdenComprasBLL compras

<body onload="window.print()">
<H1>Dr Emergencias</H1>
<h4>Orden de compra</h4>
<hr>

      
            <div  class="d-flex justify-content-between">
                <div class="Entrada">
                    <div class="input-group">
                        <RadzenLabel>CompraId:</RadzenLabel>
                        <RadzenText    style=" background-color: #D9D9D9; border-color: #D9D9D9;" >@compra.CompraId</RadzenText>
                       
                    </div>
                </div>
                    
                <br>
                <div>
                    <div class="Entrada ">
                        <div class="col-md-2 ">
                            <RadzenLabel >Fecha </RadzenLabel>
                            <RadzenDatePicker Disabled="true"  @bind-Value=@compra.Fecha ShowTime="true" HourFormat="12" DateFormat="MM/dd/yyyy" Name="Fecha" />
                            <RadzenRequiredValidator Component="Fecha" Text="Nombre es Campo Requerido" Popup=true Style="position: absolute"/>
                        </div>
                    </div>
                </div>

            </div>
            



    <RadzenFieldset>
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon  class="me-1" /><b>Detalle</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
               <table class="table table-striped" style="backgroud-color:white">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Articulo</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Suplidor</th>
                        <th scope="col">Contacto</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach(var item in this.compra.Detalle)
                        {
                            <tr>
                            <td>@item.ArticuloId</td>
                            <td>@articulos.Buscar(item.ArticuloId).Descripcion</td>
                            <td>@item.costo</td>
                            <td>@item.cantidad</td>
                            <td>@item.Importe</td>
                            <td>@suplidores.Buscar(articulos.Buscar(item.ArticuloId).SuplidorId).Nombre</td>
                            <td>@suplidores.Buscar(articulos.Buscar(item.ArticuloId).SuplidorId).Contacto</td>
                            </tr>
                        }
                
                </tbody>
            </table>

            <div  class="d-flex justify-content-between">
                <div class="Entrada">
                    <div class="input-group">
                        <RadzenLabel>Total de items:</RadzenLabel>
                        <RadzenText    style=" background-color: #D9D9D9; border-color: #D9D9D9;" >@CantidadTotal</RadzenText>
                    </div>
                </div>
                <div class="Entrada">
                    <div class="input-group">
                        <RadzenLabel>Total:</RadzenLabel>
                        <RadzenText    style=" background-color: #D9D9D9; border-color: #D9D9D9;" > $ @ImporteTotal . 00</RadzenText>
                    </div>
                </div>
            </div>

        </ChildContent>
    </RadzenFieldset>

</body>

@code{

 [Parameter]
    public int CompraId {get; set;}

    public OrdenCompras compra {get; set;} = new OrdenCompras();

    public List<Articulo> L_Articulos {get; set;} = new List<Articulo>();
    
    IEnumerable<int?> Cantidades{get;set;} 
    public int? CantidadTotal {get;set;}

    IEnumerable<double?> Importes{get;set;} 
    public double? ImporteTotal {get;set;}
    
    protected override void OnInitialized()
    {
        L_Articulos = articulos.GetList();

        if(CompraId > 0)
        {
            this.compra.CompraId = CompraId;
            Buscar();
        }

        Cantidades= from detalle in compra.Detalle select detalle.cantidad;
        CantidadTotal = Cantidades.Sum();

        Importes= from detalle in compra.Detalle select detalle.Importe;
        ImporteTotal = Importes.Sum();
    }

    void Buscar()
    {
        var CompraEncontrada = compras.Buscar(compra.CompraId);
        

        if(CompraEncontrada != null)
        {
            this.compra = CompraEncontrada;
        }
    }

    
}
